doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAuua+AP///wCSvzcA2fcvAB+tLQBHtVIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVVVVVVVVVBVVVVVVVVVVVUSIiIiIiFVVRIiIiIiIVVVVVVVVVVVVVVVVVVVVVVVVhIiIiIiIVVVEiIiIiIhVVVVVVVVVVVVVVVVVVVVVVVVEiIiIiIhVVUSIiIiIiFVVVVVNEREQ1VVVVU0RENVVVVVVTRDVVVVBVVWVVVVVVCAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAA', rel='icon', type='image/x-icon')
  body
    block content
